.headline {
   text-align: center;
	font-size: 2.5rem;
	margin: 0;
	padding-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	
	&--b-margin-large {
		margin-bottom: 50px;
	}
}

.headline__text {
	font-size: 1.2rem;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.5;
	margin-top: 25px;
}