.showcase-meals {
	width: 100%;
	height: auto;
	background: #fff;
	border-radius: 5px;
	padding: 10px;
	position: relative;
	
	&__meal {
		margin: 10px;
		width: 196px;
		height: 250px;
		overflow: hidden;
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.52);
		border-radius: 3px;
		display: inline-block;
		cursor: pointer;
		position: relative;
		transition: all .3s;
		
		&:hover {
			box-shadow: 0 0 5px rgb(142, 15, 222);
			
		}
		
		&__photo {
			width: 200px;
			height: 120px;
			overflow: hidden;
		}
		
		&__title {
			margin: 10px 0 10px 10px;
			font-size: 1.2rem;
			color: $mainPurple;
			
			&:hover {
				color: #8c0ca3;
			}
			
			&::after {
				content: '';
				display: block;
				width: 200px;
				height: 1px;
				color: #000;
			}
		}
		
		&__subtitle {
			margin: 10px;
			font-size: .85rem;
			border-left: 1px solid $mainPurple;
			padding-left: 5px;
		}
		
		&__stars {
			margin: 0 10px;
			font-size: 1.2rem;
			color: $mainPurple;
			position: absolute;
			bottom: 12px;
			
			.reviews {
				color: #818181;
				font-size: .90rem;
				padding-left: 5px;
			}
		}
	}
	
}