.wrapper {
    max-width: 1250px;
    margin: 0 auto;
    padding-left: 18px;
    padding-right: 18px; 
    
	
	.wrapper {
		padding-left: 0;
		padding-right: 0;
	}
	
	&--narrow {
		max-width: 600px;
	}
}